gradio
pandas
numpy
scipy
matplotlib
yasa
mne
antropy
hmmlearn
scikit-learn
langchain
langchain-google-genai
google-generativeai
langchain-community
langchain-huggingface
faiss-cpu
python-dotenv
pillow
pypdf
sentence-transformers
